.profileImage {
    height: 171px;
    width: 180px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    
}

.profileCard { 
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    width: 70%;
    

    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.profile {
    background-color: #C7D0D8;
}

.profileContainer {
    text-align: center;
}

.userInfo {
    width: 70%;
    color: white;
    justify-content:center;
    display: inline-block;
}

.invisible-input{
    background-color: rgba(0,0,0,0);
    font-family: "Varela Round";
    border-color: rgba(0,0,0,0);
    color: rgba(255,255,255);
    font-size: 1.5em;
    text-align: center;
  }
  .invisible-input:focus{
    background-color: rgba(0,0,0,0);
    font-family: "Varela Round";
    border-color: rgba(0,0,0,0);
    color: rgba(255,255,255);
    font-size: 1.5em;
    text-align: center;
  }

.myQList{
    width: 70%;
    display: inline-block;
    text-align: left;

}

.qListContainer {
    text-align: center;
}

.btn-secondary{
    margin-right: 2rem;
    margin-left: 2rem;
}
