.qcard { 
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
    

    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.qcardTitle:hover {
    cursor: pointer;
}

.qcardTop {
    display: flex;
}
.qcardVotes {
    background-color: white;
    float: left;
    padding-right: 12px;
}
.qcardRightContent {
    float: right;
}
.tags {
    display: inline;
    background-color:#117a8b;
    margin-right: 10px;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.qcardProfile {
    padding-bottom: 5px;
}

.qcardProfileLogo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.moreLink {
    margin-top: 10px;
    text-decoration: underline;
}
.moreLink:hover {
    cursor: pointer;
}
.qcardDescription {
    padding: 0px 0px 10px 0px;
    width: 90%;
}

.qcardCommentsSection {
    display: flex;
}
.qcardComment {
    width: 90%;
}

.qcardAnswerSection {
    display: flex;
}

.qcardCommentTextBox {
    width: 600px;
    height: 35px;
    border-radius: 5px;
}